{% extends "app/layout.html" %}

{% block content %}
<!--<div>
<span >All Address</span>{{ Contact.id }}    <br>
<span >Contacts</span>{{ AllAddress.id}}    
</div>
 -->
<div class="card p-4 mt-2"  id="editcard">
     <div class=" row">
        <div class="col-xl-6">
            <h2>Updating Contact for ID :  <span id="ContactId">{{ Contact.id }}</span></h2>
        </div>
          <div class="col-xl-6">
           <a role="button"  href="{% url 'DeleteContact' Contact.id %}" class="btn btn-secondary delete" id="{{ Contact.id }}">Delete Contact</a>
          <!-- <a role="button"  href="{% url 'RetriveJson' %}" class="btn btn-secondary delete" id="{{ Contact.id }}">Retrive Json</a>-->

        </div>
        </div>
        <hr/>
        <div class=" row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-12 ">
                        <!--Begin -Include partial layout for contact update-->
                            <h2>Contact Information</h2>
                            <hr/>
                        <form method="POST">
                            {% csrf_token %}
                              <div class="row">
                                <div class="col-xl-3 pt-2">
                                  {{ form.Fname}}
                                </div>
                                <div class="col-xl-3 pt-2">
                                  {{ form.Mname}}
                                </div>
                                <div class="col-xl-3 pt-2">
                                   {{ form.Lname}}
                                </div>
                                  <div class="col-xl-3 pt-2">
                                     <button id="SaveContact" type="submit" class="btn btn-secondary m-2 float-right" >Save</button>
                                   </div>
                              </div>
                        </form>
                        <!--End-Include partial layout for contact update-->
                    </div>
                    <div class="col-xl-12 ">
                            <h2>Address Information</h2>
                            <hr/>
                <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Address Id</th>
                          <th scope="col">Address Type</th>
                          <th scope="col">Address</th>
                          <th scope="col">City</th>
                          <th scope="col">State </th>
                          <th scope="col">Zip </th>
                          <th scope="col">Actions </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for Address in AllAddress %}
                          {% csrf_token%}
                            <tr>
                              <td ><input type="text" class="form-control AddressId" value="{{ Address.id }}" disabled></td> 
                              <td >
                        
                                  <select class="form-control Address_type" >
                                  {% ifequal Address.Address_type 'Address Type'  %}
                                   <option selected>Address Type</option>
                                  {%else %}
                                  <option >Address Type</option>
                                   {% endifequal %}
                                   {% ifequal Address.Address_type 'Home'%}
                                   <option selected>Home</option>
                                    {% else %}
                                    <option >Home</option>
                                    {% endifequal %}
                                   {% ifequal Address.Address_type 'Work' %}
                                   <option selected>Work</option>
                                    {% else %}
                                    <option >Work</option>
                                    {% endifequal %}
                                   {% ifequal Address.Address_type 'Other'%}
                                   <option selected>Other</option>
                                    {% else %}
                                     <option >Other</option>
                                   {% endifequal %} 

                                 </select>
                              </td> 
                              <td ><input type="text" class="form-control Address" value="{{ Address.Address }}"></td> 
                              <td ><input type="text" class="form-control City" value="{{ Address.City }}"></td> 
                              <td ><input type="text" class="form-control State" value="{{ Address.State }}"></td> 
                              <td ><input type="text" class="form-control Zip" value="{{ Address.Zip }}"></td> 
                              <td >
                                <a role="button"  href="#" class="btn btn-secondary " id="{{ Address.id  }}" onclick="updateAddress(this)">Save</a>
                                <a role="button"  href="#" class="btn btn-secondary" id="{{ Address.id  }}">Delete</a>
                              </td> 
                            </tr>
                        {% endfor %}
                      </tbody>
                </table>

                    </div>
                    <div class="col-xl-12">
                          <!--Begin -Include partial layout for Phone update-->
                            <h2>Phone Information</h2>
                            <hr/>
                        {% for form in forms %}
                        {{form}}
                        {% endfor %}



                <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Phone Type</th>
                          <th scope="col">Area Code </th>
                          <th scope="col">Number</th>
                        </tr>
                      </thead>
                      <tbody>
                
                        {% for Phone in AllPhones %}
                          <tr>
                               <td>{{Phone.Phone_type}}</td>
                               <td>{{PhonPhoneeForm.Area_code}}</td>
                               <td>{{Phone.Number}}</td>
                               <td><PhoneForm type="submit">Save</PhoneForm></td>
                             </tr>
                        {% endfor %}
                      </tbody>
                </table>
                              
                         <!--End-Include partial layout for Phone update-->
                    </div>
                    <div class="col-xl-12">
                         <!--Begin--Partial View for Date -->
                                <h2>Date Information</h2>
                                <hr/>
                        {% if  AllDates %}
                                  <table class="table table-bordered">
                                  <thead>
                                    <tr>

                                      <th scope="col">Date Type</th>
                                      <th scope="col">Date </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                          
                                      {% for Date in AllDates %}
                                        <tr>
                                          <td >
                                              <select class="form-control" >
                                               {% ifequal Date.Date_type 'Date type'  %}
                                                  <option selected>Date type</option>
                                                {% else  %}
                                                   <option >Date Type</option>
                                                {% endifequal %}
                                               {% ifequal Date.Date_type 'birthdate'  %}
                                                  <option selected>Birthdate</option>
                                                {% else  %}
                                                   <option >Birthdate</option>
                                                {% endifequal %}
                                               {% ifequal Date.Date_type 'Other'  %}
                                                  <option selected>Other</option>
                                                {% else  %}
                                                   <option >Other</option>
                                                {% endifequal %}
                                             </select>
                                          </td> 
                                          <td ><input type="text" class="form-control" value="{{ Date.Date }}" ></td> 
               
                                        </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                         {% else %}
                          <p>No record Associated with this Contact</p>
                        {% endif %}
                        <!--End--Partial View for Date -->
                    </div>
                </div>
                <!--<div class="row">
                <div class="col-xl-12">
                    <button type="button" class="btn btn-secondary float-right" id="{{contact.id  }}"><i class="fas fa-save"></i> Save</button>
                </div>
                </div>-->
            </div>
        </div>
     </div>
{% block scripts %}
 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"> </script>
<script>
    $(function () {
       
    });
   function updateAddress(element) {
            //e.preventDefault();
            //var ButtonId = this.id;
       //var d = $("'#" + ButtonId + "'");
       console.log(element);
       //this = element;
            var e = $(element).parent().parent();
            f = e[0];
            //var Contact_id = $("#ContactId").text();
            var Address_type = $(f).find('select.Address_type').val();
            var Address = $(f).find('input.Address').val();
            var City = $(f).find('input.City').val();
            var State = $(f).find('input.State').val();
            var Zip = $(f).find('input.Zip').val();
            var AddressId = $(f).find('input.AddressId').val();
            //alert("Contact Id : " + Contact_id);
            //alert("Address_type: " + Address_type);
            //alert("Address : " + Address);
            //alert("City : " + City);
            //alert("State : " + State);
            //alert("Zip : " + Zip);
            //alert("AddressId is " + AddressId);
            //AJAX call to save address
            $.ajax({
                url: '/UpdateAddress/',
                type: 'POST',
                data: {
                    'AddressId': AddressId,
                    'Address_type': Address_type,
                    'Address': Address,
                    'City': City,
                    'State': State,
                    'Zip': Zip,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                //dataType: 'json',
                success: function (data) {
                    alert("Address Saved Successfully" + data.SaveOrNot);
                },
                error: function () {
                    alert("Fail to save ")

                }

            });
        }
 </script>
  {% endblock %}
{% endblock %}