{% extends "app/layout.html" %}

{% block content %}
<!--<div>
<span >All Address</span>{{ Contact.id }}    <br>
<span >Contacts</span>{{ AllAddress.id}}    
</div>
 -->
<div class="card p-4 mt-2"  id="editcard">
        <div class=" row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-12 ">
                        <!--Begin -Include partial layout for contact update-->
                            <div class="row">
                        <div class="col-xl-6">
                                <h2>Contact Information</h2>
                            </div>
                        <div class="col-xl-6">
                            {% if Contact %}
                                 <a role="button"  href="{% url 'DeleteContact' Contact.id %}" class="btn btn-secondary delete float-right " id="{{ Contact.id }}">Delete Contact</a>
                             {% endif %}
                          </div>
                        </div>
                            
                            <hr/>
                        <form method="POST">
                            {% csrf_token %}
                            <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th scope="col">First Name</th>
                                      <th scope="col">Middle Name</th>
                                      <th scope="col">Last Name</th>
                                        <th scope="col" style="width:5%">Actions</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th >{{form.Fname}}</th>
                                      <td>{{form.Mname}}</td>
                                      <td>{{form.Lname}}</td>
                                        <td><button id="SaveContact" type="submit" class="btn btn-secondary m-2 float-right" >Save</button></td>
                                    </tr>
                                  </tbody>
                                </table>
                        </form>
                        <!--End-Include partial layout for contact update-->
                    </div>
                    <div class="col-xl-12 ">
                           <div class="row">
                        <div class="col-xl-6"> 
                               <h2>Address Information</h2>
                            </div>
                        <div class="col-xl-6">
                          <a role="button" target="_blank" class="btn btn-secondary float-right" href="{%url 'NewAddress' Contact.id  %}"><i class="fas fa-user-plus"></i> Add New Address</a> 
                        </div>
                           </div>
                            <hr/>
                        {% if  AllAddress %}
                           <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">Address Id</th>
                                  <th scope="col">Address Type</th>
                                  <th scope="col">Address</th>
                                  <th scope="col">City</th>
                                  <th scope="col">State </th>
                                  <th scope="col">Zip </th>
                                  <th scope="col">Actions </th>
                                </tr>
                              </thead>
                              <tbody>
                          
                            {% for Address in AllAddress %}
                            <tr>
                              <td ><input type="text" class="form-control AddressId" value="{{ Address.id }}" disabled></td> 
                              <td >
                                  <select class="form-control Address_type" disabled>
                                  {% ifequal Address.Address_type 'Address Type'  %}
                                   <option selected>Address Type</option>
                                  {%else %}
                                  <option >Address Type</option>
                                   {% endifequal %}
                                   {% ifequal Address.Address_type 'Home'%}
                                   <option selected>Home</option>
                                    {% else %}
                                    <option >Home</option>
                                    {% endifequal %}
                                   {% ifequal Address.Address_type 'Work' %}
                                   <option selected>Work</option>
                                    {% else %}
                                    <option >Work</option>
                                    {% endifequal %}
                                   {% ifequal Address.Address_type 'Other'%}
                                   <option selected>Other</option>
                                    {% else %}
                                     <option >Other</option>
                                   {% endifequal %} 

                                 </select>
                              </td> 
                              <td >{{ Address.Address }}</td> 
                              <td >{{ Address.City }}</td> 
                              <td >{{ Address.State }}</td> 
                              <td >{{ Address.Zip }}</td> 
                              <td >
                               <a role="button" target="_blank" href="{% url 'UpdateAddress' Address.id %}" class="btn btn-secondary edit" id="{{ Address.id  }}"><i class="fas fa-user-edit"></i> Edit</a>
                                <a role="button"  href="{% url 'DeleteAddress' Address.id  Contact.id %}" class="btn btn-secondary" id="{{ Address.id  }}">Delete</a>
                              </td> 
                            </tr>
                            
                          
                          {% endfor %}
                            </tbody>
                      </table> 
                      {% else %}
                        <p>No record Associated with this Contact</p>
                     {% endif %}
                    </div>
                    <div class="col-xl-12">
                          <!--Begin -Include partial layout for Phone update-->
                           
                        <div class="row">
                        <div class="col-xl-6">
                            <h2>Phone Information</h2>
                            </div>
                        <div class="col-xl-6">
                          <a role="button" target="_blank" class="btn btn-secondary float-right" href="{%url 'NewPhone' Contact.id  %}"><i class="fas fa-user-plus"></i> Add New Phone</a> 
                        </div>
                        </div>
                            <hr/>
                        {% if AllPhones%}
                <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Phone Type</th>
                          <th scope="col">Area Code </th>
                          <th scope="col">Number</th>
                          <th scope="col" style="width:20%">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
            
                        {% for Phone in AllPhones %}
                          <tr>

                               <td>{{Phone.Phone_type}}</td>
                               <td>{{PhonPhoneeForm.Area_code}}</td>
                               <td>{{Phone.Number}}</td>
                               <td> 
                                   <a role="button" target="_blank" href="{% url 'UpdatePhone' Phone.id %}" class="btn btn-secondary edit" id="{{ Address.id  }}"><i class="fas fa-user-edit"></i> Edit</a>
                                    <a role="button"  href="{% url 'DeletePhone' Phone.id  Contact.id %}" class="btn btn-secondary" id="{{ Address.id  }}">Delete</a>
                             </td>
                             </tr>
                        {% endfor %}
                      </tbody>
                </table>
                    {%else %}
                        <p>No record Associated with this Contact</p>
                    {% endif %}
                         <!--End-Include partial layout for Phone update-->
                    </div>
                    <div class="col-xl-12">
                         <!--Begin--Partial View for Date -->
                               <div class="row">
                                <div class="col-xl-6"> 
                                       <h2>Date Information</h2>
                                </div>
                                   <div class="col-xl-6">
                                      <a role="button" target="_blank" class="btn btn-secondary float-right" href="{%url 'NewDate' Contact.id %}"><i class="fas fa-user-plus"></i> Add New Date</a> 
                                    </div>
                               </div>
                                <hr/>
                                {% if  AllDates %}
                                  <table class="table table-bordered">
                                  <thead>
                                    <tr>

                                      <th scope="col">Date Type</th>
                                      <th scope="col">Date </th>
                                      <th scope="col" style="width:20%">Actions</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                          
                                      {% for Date in AllDates %}
                                        <tr>
                                          <td >
                                              <select class="form-control" disabled>
                                               {% ifequal Date.Date_type 'Date type'  %}
                                                  <option selected>Date type</option>
                                                {% else  %}
                                                   <option >Date Type</option>
                                                {% endifequal %}
                                               {% ifequal Date.Date_type 'birthdate'  %}
                                                  <option selected>Birthdate</option>
                                                {% else  %}
                                                   <option >Birthdate</option>
                                                {% endifequal %}
                                               {% ifequal Date.Date_type 'Other'  %}
                                                  <option selected>Other</option>
                                                {% else  %}
                                                   <option >Other</option>
                                                {% endifequal %}
                                             </select>
                                          </td> 
                                          <td >{{ Date.Date }}</td> 
                                    <td> 
                                   <a role="button" target="_blank" href="{% url 'UpdateDate' Date.id %}" class="btn btn-secondary edit" id="{{ Address.id  }}"><i class="fas fa-user-edit"></i> Edit</a>
                                    <a role="button"  href="{% url 'DeleteDate' Date.id  Contact.id %}" class="btn btn-secondary" id="{{ Address.id  }}">Delete</a>
                                      </td>
                                        </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                         {% else %}
                          <p>No record Associated with this Contact</p>
                        {% endif %}
                        <!--End--Partial View for Date -->
                    </div>
                </div>
                <!--<div class="row">
                <div class="col-xl-12">
                    <button type="button" class="btn btn-secondary float-right" id="{{contact.id  }}"><i class="fas fa-save"></i> Save</button>
                </div>
                </div>-->
            </div>
        </div>
     </div>
{% block scripts %}
 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"> </script>
<script>
    $(function () {
       var inputs, index;

            inputs = document.getElementsByTagName('input');
            for (index = 0; index < inputs.length; ++index) {
                inputs[index].classList.add("form-control");
            }
    });
   function updateAddress(element) {
            
       console.log(element);
       //this = element;
            var e = $(element).parent().parent();
            f = e[0];
            //var Contact_id = $("#ContactId").text();
            var Address_type = $(f).find('select.Address_type').val();
            var Address = $(f).find('input.Address').val();
            var City = $(f).find('input.City').val();
            var State = $(f).find('input.State').val();
            var Zip = $(f).find('input.Zip').val();
            var AddressId = $(f).find('input.AddressId').val();
            //alert("Contact Id : " + Contact_id);
            //alert("Address_type: " + Address_type);
            //alert("Address : " + Address);
            //alert("City : " + City);
            //alert("State : " + State);
            //alert("Zip : " + Zip);
            //alert("AddressId is " + AddressId);
            //AJAX call to save address
            $.ajax({
                url: '/UpdateAddress/',
                type: 'POST',
                data: {
                    'AddressId': AddressId,
                    'Address_type': Address_type,
                    'Address': Address,
                    'City': City,
                    'State': State,
                    'Zip': Zip,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                //dataType: 'json',
                success: function (data) {
                    alert("Address Saved Successfully" + data.SaveOrNot);
                },
                error: function () {
                    alert("Fail to save ")

                }

            });
        }
 </script>
  {% endblock %}
{% endblock %}