{% extends "app/layout.html" %}

{% block content %}
<style>
      /* Begin -Adding it for floating scroll button */
    #scroll {
                position: fixed;
                right: 10px;
                bottom: 10px;
                cursor: pointer;
                width: 50px;
                height: 50px;
                background-color: #1a0937;
        text-indent: -9999px;
                display: none;
                -webkit-border-radius: 60px;
                -moz-border-radius: 60px;
                border-radius: 60px;
                z-index: 99999;
            }

    #scroll span {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -8px;
            margin-top: -12px;
            height: 0;
            width: 0;
            border: 8px solid transparent;
            border-bottom-color: #ffffff;
        }

    #scroll:hover {
        background-color: #e74c3c;
            opacity: 1;
            filter: "alpha(opacity=100)";
            -ms-filter: "alpha(opacity=100)";
        }
                body {
                    background-color: #f5f5f5;
                }
    
    /* End -Adding it for floating scroll button */
    </style>
 

<!--Begin --Master detail view to display the contact and all its address phones dates in one place -->
 
<!--End -- Master detail view to display the contact and all its address phones dates in one place -->


  <!--Begin--Scroll to top button -->       
 <a href="#" id="scroll" style="display: none;"> <span></span></a>
 <!--End--Scroll to top button -->      
 <div class="card p-4">
        <div class=" row">
        <div class="col-xl-3">
            <h2>List Of Contacts</h2>
        </div>
        <div class="col-xl-8">
                <form class="form-inline " action="" method="GET">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" value="{{request.GET.query}}">
                  <button class="btn btn-outline-success " type="submit" >Search</button>
                </form>
         </div>
        <div class="col-xl-1">
            <a role="button"  class="btn btn-secondary float-right" href="{%url 'NewContact' %}"><i class="fas fa-user-plus"></i> Add New</a>
        </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xl-12" id="demo">
                <!--Begin --Table for Listing contacts-->
                <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">First Name</th>
                          {#<th scope="col">Mname</th>#}
                          <th scope="col">Middle  Name</th>
                            <th scope="col">Last Name </th>
                            <th scope="col">Address </th>
                            <th scope="col">Phones </th>
                            <th scope="col">Dates </th>
                            <th scope="col">Actions </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for contact in AllContacts %}
                            <tr>
                              <td >{{ contact.Fname }}</td> 
                              <td>{{ contact.Mname }}</td>
                              <td >{{ contact.Lname }}</td>
                             <!--For Address Lop-->
                                <td >{% with contact.addresses.all as addresses %}
                                        {% for add in addresses %}
                                          <span>  {{ add.Address }} , </span>
                                            {% empty %}
                                            ''
                                        {% endfor %}
                                    {% endwith %}
                                </td>
                                <!--For phones loop-->
                                   <td >{% with contact.phones.all as phones %}
                                        {% for phone in phones %}
                                          <span> {{phone.Area_code}}-{{ phone.Number }} , </span>
                                            {% empty %}
                                            ''
                                        {% endfor %}
                                    {% endwith %}
                                </td>
                                <!--For dates loop-->
                                <td >{% with contact.dates.all as dates %}
                                        {% for date in dates %}
                                          <span> {{ date.Date }} , </span>
                                            {% empty %}
                                            ''
                                        {% endfor %}
                                    {% endwith %}
                                </td>
                             
                               <td style="width:13%">
                                <div class="row">
                                    <div class="col-xl-6">
                                    <a role="button" target="_blank" href="{% url 'UpdateContact' contact.id %}" class="btn btn-secondary edit" id="{{ contact.id  }}"><i class="fas fa-user-edit"></i> Edit</a>
                                    </div>
                               <div class="col-xl-6">
                                    <a role="button"  href="{% url 'DeleteContact' contact.id %}" class="btn btn-secondary delete float-right " id="{{ contact.id }}">Delete </a>
                               </div>
                                   </div>
                               </td>

                            </tr>
                        {% endfor %}
                      </tbody>
                </table>
                <!--End --Table for Listing contacts-->
                <!--Begin Pagination-->
                
            </div>
        </div>
     </div>
<!--Begin -- Edit or update Contact-->

<div class="card p-4 mt-2" style="display:none" id="editcard">
     <div class=" row">
        <div class="col-xl-6">
            <h2>Updating Contact for ID :  <span id="contact_id"></span></h2>
        </div>
        </div>
        <hr/>
        <div class=" row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-12 ">
                        <!--Begin -Include partial layout for contact update-->
                            <h2>Contact Information</h2>
                            <hr/>
                              <div class="row">
                                <div class="col-xl-4 pt-2">
                                  <input type="text" class="form-control" placeholder="First name">
                                </div>
                                <div class="col-xl-4 pt-2">
                                  <input type="text" class="form-control" placeholder="Middle name">
                                </div>
                                <div class="col-xl-4 pt-2">
                                  <input type="text" class="form-control" placeholder="Last name">
                                </div>
                              </div>
                        <!--End-Include partial layout for contact update-->
                    </div>
                    <div class="col-xl-12 ">
                         <!--Begin -Include partial layout for Address update-->
                            <h2>Address Information</h2>
                            <hr/>
                              <div class="row">
                                  <div class="col-xl-12">
                                      <table class="table table-bordered">
                                          <thead>
                                            <tr>
                                              <th scope="col">Address Type</th>
                                              <th scope="col">Address</th>
                                              <th scope="col">State</th>
                                              <th scope="col">City</th>
                                              <th scope="col">Zip</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                               <td>
                                                    <select class="form-control">
                                                      <option>Address Type</option>
                                                     <option>Home</option>
                                                     <option>Work</option>
                                                      <option>Other</option>
                                                  </select>
                                               </td>
                                              <td>
                                                <input type="text" class="form-control" placeholder="Address">
                                              </td>
                                              <td>
                                               <input type="text" class="form-control" placeholder="State">
                                              </td>
                                              <td>
                                                <input type="text" class="form-control" placeholder="City">
                                              </td>
                                                <td>
                                                    <input type="text" class="form-control" placeholder="Zip">
                                                </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                  </div>
                              </div>
                         <!--End-Include partial layout for Address update-->
                    </div>
                    <div class="col-xl-12">
                          <!--Begin -Include partial layout for Phone update-->
                         <h2>Date Information</h2>
                            <hr/>
                              <div class="row">
                                  <div class="col-xl-12">
                                    <table class="table table-bordered">
                                          <thead>
                                            <tr>
                                              <th scope="col">Date Type</th>
                                              <th scope="col">Date</th>
                                            
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                               <td>
                                               <select class="form-control">
                                                  <option>Date Type</option>
                                                 <option>Birhdate</option>
                                                 <option>Other</option>
                                              </select>
                                               </td>
                                              <td>
                                                <input type="text" class="form-control" placeholder="Date">
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table> 
                                      </div>
                              </div>
                         <!--End-Include partial layout for Phone update-->
                    </div>
                    <div class="col-xl-12">
                         <!--Begin--Partial View for Date -->
                          <h2>Phone Information</h2>
                            <hr/>
                              <div class="row">
                                  <div class="col-xl-12">
                                    <table class="table table-bordered">
                                          <thead>
                                            <tr>
                                              <th scope="col">Phone Type</th>
                                              <th scope="col">Area Code</th>
                                              <th scope="col">Phone</th>
                                        
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                               <td>
                                               <select class="form-control">
                                                  <option>Phone Type</option>
                                                 <option>Home</option>
                                                 <option>Work</option>
                                                 <option>Cell</option>
                                              </select>
                                               </td>
                                              <td>
                                                <input type="text" class="form-control" placeholder="Area Code">
                                              </td>
                                              <td>
                                                <input type="text" class="form-control" placeholder="Phone">
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table> 
                                      </div>
                              </div>
                        <!--End--Partial View for Date -->
                    </div>
                </div>
                <div class="row">
                <div class="col-xl-12">
                    <button type="button" class="btn btn-secondary float-right" id="{{contact.id  }}"><i class="fas fa-save"></i> Save</button>
                </div>
                </div>
            </div>
        </div>
     </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"> </script>
<!-- End Edit/UPdate contact-->
{% endblock %}
